# Dependencies
node_modules/
npm-debug.log*

# Python
__pycache__/
*.py[cod]
venv/
venv-dxnn/
*.egg-info/

# Logs
*.log
logs/

# Images (captured)
*.jpg
*.jpeg
!monoculus-app/public/images/*.svg
!monoculus-app/public/images/intruder.png

# Videos
*.avi
*.mp4

# Large Files (ignored)
fire_detection/models/v7_opset12_single.onnx
fire_detection/compiler_troubleshooting/model_zoo_golden/YOLOV7-2.onnx

assets/
trash*
calibration_dataset
.agent/
compiler_troubleshooting
web_guide/
yolov7/